
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
h2{
    padding: 50px 0 0px;
    font-family: 'Candal', sans-serif;
    color: var(--fourth-color);
    font-size: 25px;
}
ul{
    list-style-type: none;
    padding: 0;
}
.section {
    font-family: 'Quattrocento', serif;
    &:first-child {
        margin: 0;
    }
    @include media-breakpoint-up(md) {
      padding-left: 50px;
    }
}

:root {
    --first-color: #222;
    --second-color: #767676;
    --third-color: #f7f7f7;
    --fourth-color: #00887A;
    --fourth-color: #2A7C4E;
    
    --fifth-color: #fff;
  }